Package: abuseipdb-client
Version: 0.9.17
Maintainer: kristuff <kristuff@kristuff.fr>
Architecture: all
Depends: php, php-curl
Description: AbuseIPDB APIv2 client: check, report IP address, download blacklist
Priority: optional
Section: utils
